* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: -apple-system, Nunito, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}
.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titles__main-title {
  font-size: 1rem;
  margin-top: 40px;
  color: #ed6436;
}
.titles__secondary-title {
  font-size: 3rem;
}
.button {
  margin-top: 30px;
  padding: 10px 18px;
  border: 0;
  border-radius: 0 16px 16px 16px;
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: #ed6436;
}
main {
  padding: 0 16%;
}
.images-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.images-section__image {
  border-radius: 25px;
  margin: 20px 10%;
  width: 80%;
}
.texts-inside-image {
  position: absolute;
  top: 250px;
}
.texts-inside-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.texts-inside-image__text {
  color: #fff;
}
